
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

body {
  font-family: 'Dosis', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: #111;
}

span {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  font-weight: 300;
  color: #1a2a6c;
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
  animation: hue 5s infinite linear;
  vertical-align:bottom;
}
span > span {
  display: block;
  font-size: 20px;
  color: #fff;
  -webkit-text-fill-color: #fff;
  background: none;
}

#days {
  font-size: 100px;
}
#hours {
  font-size: 80px;
}
#minutes {
  font-size: 55px;
}
#seconds {
  font-size: 35px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
