@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

html {
    height: 100%;  
}
body {
   height: 100%;
   margin: 0 auto;
}
div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
/*
div {
    border: 2px solid rgb(153, 0, 0);
}
*/



.card{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:auto;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
} 


body {
    background: #eeeeee;
    font-family: 'Varela Round', sans-serif;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 35px;
    min-height: 38px;
    border: none;
    background: #faf7fd;
    border-radius: 3px !important;
}

.search-box input:focus {
    background: #fff;
    box-shadow: none;
}

.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 10px 7px;
    height: 100%;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}



section{
	max-width: 2400px;
	width: 100%;
	margin: 0 auto;
}

.card-container {
	perspective: 1000px;
	position: relative;
	transform-style: preserve-3d;
	width: 100%;
	height: 420px;
	
}

.flip:hover{
  transform: rotateY(180deg);
}



.card {
	position: relative;
	transform-style: preserve-3d;
	max-width: 390px;
	width: 100%;
	height: 420px;
	transition: all 0.8s ease;
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	background: white;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-box-shadow: 0px 7px 12px 1px rgba(0,0,0,0.47);
     -moz-box-shadow: 0px 7px 12px 1px rgba(0,0,0,0.47);
          box-shadow: 0px 7px 12px 1px rgba(0,0,0,0.47);
	z-index:2;
}

.front{
	transform: rotateY(0deg);
}

.back{
	transform: rotateY(-180deg);
}

.card-footer {
	margin: 0 auto;
}

.btn:hover,
.btn:focus,
.btn:active {
	outline: 0 !important;
}

.btn-flip,
i {
	background-color: transparent;
	opacity: 0.5;
	transition: all 0.5s ease;
	font-size: 18px;
}

.btn-flip:hover,
i:hover {
	opacity: 1;
}

.top{
  background: url(/Imagens/LOGO/6968d434-ad81-44eb-97bf-291428958634.jpg) no-repeat bottom center scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.wide {
  display: table;
  width: 100%;
  height: 845px;
  text-align: center;
  color: #fff;
  
}

.logo {
  color: #fff;
  font-weight: 800;
  padding-left: 12.5px;
  padding-right: 12.5px;
  font-size: 75px;
  text-align: center;
  text-shadow: 2px 1.5px 2px grey;
}

.line {
  padding-top: 40px;
  white-space: no-wrap;
  overflow: hidden;
  text-align: center;
}


.scroll-container {
    width:100%;
    margin:auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    
            }
            
  .scroll-container .scroll-item {
     display: inline-flex;
     width: 25%;
     white-space: initial;
     min-height:300px !important;
    margin-right: -4px !important;
 }

.scroll-item .card-body{
   min-height:300px !important;
}

.count-indicator{
  width:20px;
  height:1px;
  background-color:grey;
  display: inline-block;
  margin:1rem;
}

.count-indicator.active{
  width:20px;
  height:1px;
  background-color:red;
  display: inline-block;
  margin:1rem;
}



@media (max-width: 575.98px) {
.scroll-container {
 scroll-snap-type: x mandatory;
 overflow-x: scroll;
   overflow-y: hidden;
    scrollbar-width: none;
                }
.scroll-container .scroll-item {
    scroll-snap-align: center;
    min-height:300px !important;
   width: 75%;
  }
}
/*nav 01
#nav01{
    background-color: #2d3142;
}
#about .exp{
    height: 600px;
    background: url("/Imagens/LOGO/HMCV4998.JPG") fixed no-repeat center;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #2d3142;
}

#about .box02{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
 */
/* about */
#about{
    background-color: #2d3142;
}

#about .pic {
    height: 600px;
    background: url("/Imagens/LOGO/HMCV4998.JPG") fixed no-repeat center;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #2d3142;
}

#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #about .pic {
        background: url("/Imagens/LOGO/HMCV4998.JPG") fixed center ;
        border-left:100px solid #2d3142;
        border-right:100px solid #2d3142;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        height: 100%;
        /*Additional code (don't bother adding this):*/
        text-align: center;
        color: white;
    }   
}


@media(max-width: 820px) {
  .top {
      background: none;
      
  }
  h1 {
    color: #2d3142;
  }
}

@media(max-width: 820px) {
  #about {
      display: none;
  }
}

@media(max-width: 700px) {
  #box2 {
      display: none;
  }
}

.nav li {
  display: inline;
}
.nav {
  margin-top: -660px;
  height: 90px;
  width: 100%;
  background-color: #3c3c3c;
  position: fixed;
  z-index: 2;
}
.nav a {
color: white;
font-size: 15px;
font-weight: bold;
padding: 24px 10px 50px 23px;
text-transform: uppercase;
font-family: 'Quicksand', sans-serif;
}
nav ul {
  flex: 1;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

ul li {
  margin: 0 20px;
}